{% extends "base.html" %}
{% block content %}

<div class="text-center pt-5">
    <img src="https://i.ibb.co/8cDgdFX/Logo.png" alt="network-logo" width="72" height="72" />
    <h2>Logowanie</h2>
     <div class="d-flex justify-content-center">
         <div class="col-sm-4">
            <div class="form-group">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                
                    {{ form.username.label }}<br>
                    {{ form.username( class_="form-control") }}<br>
                    
                    {{ form.password.label }}<br>
                    {{ form.password( class_="form-control") }}<br>
    
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit( class_="btn btn-primary btn-block") }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}